
/*
    Name: Thinh Nguyen
    Name of file: homework2.css
    Date created: 08/26/2024
    Date last edited: 10/07/2024
    Version: 6
    Description: Assignment 2 stylesheet
*/

/* Resize image*/
img {
  width: 100%;  
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #C1D8C3;
}


/* Banner section */
.header {
  padding: 12px;  
  text-align: center; 
  background: #674636;
  color: #FFF8E8;  
  width:70%;
  margin-left:auto;
  margin-right:auto;   
}
/* use another font for Banner */
.header h1 {
  font-size: 38px;
  font-family: Verdana;
}

.card {
  background-color:white;
  padding: 20px;
  margin-top: 20px;
  margin-left:auto;
  margin-right:auto;
  width:70%;   
}

/* Footer section */
.footer {
  padding: 5px;
  text-align: center;
  background: #674636;
  margin-top: 20px;
  color:white;
  width:70%;  
  margin-left:auto;
  margin-right:auto; 
}


/*Table design */
#myForm .label-cell {
    text-align: right;
    padding: 10px;
}

#myForm .submit-cell {    
    text-align: center;    
}

#myForm {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#myForm td, #myForm th {
  border: 1px solid #ddd;
  padding: 8px;
}

/*alternate color row */
#myForm tr:nth-child(even){background-color: #f2f2f2;}

#myForm tr:hover {background-color: #C1D8C3;}

#myForm th {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 1.5em;
  background-color: #674636;
  color: white;
}

input[type="text"], select {
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button */
input[type="submit"], input[type="reset"] {
    padding: 10px 20px;
    margin: 10px 5px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}
input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #674636; 
}


/* Unvisited link */
a:link {
  color: #FFF8E8;
}

/* Visited link */
a:visited {
  color: #bdda81;
}

/* Mouse over link */
a:hover {
  color: #AAB396;
}

/* Selected link */
a:active {
  color: #F7EED3;
}